*{
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    font-style:normal;
    padding:0;
}
body{
    background-image: url(img/Фон\ 1.png);
    background-attachment: fixed;
    background-size: 100%;
}
/* header */
header{
    width:100%;
    background-color: #00000066;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.heatext1{
    margin-left:79px;
    font-weight: 700;
font-size: 22px;
line-height: 22px;
display: flex;
align-items: center;
color: #FFFFFF;
padding-top:18px;
padding-bottom:18px;
width: 157px;
transition:0.3s;
}
.heatext1:hover{
    color:#01813F;
}
path{
    transition: 0.3s;    
}
svg:hover path{
    fill:#01813F;
}
.heaRow{
    display:flex;
    flex-direction:row;
    align-items: center;
}
.heamarg1{
    margin-right:27px;
}
.heamarg2{
    margin-right:24px;
}
.heamarg3{
    margin-right: 25px;
}
.line{
    opacity: 0.5;
    height:19px;
    border-right:1px solid #FFFFFFE5;
    margin-right:19px;
}
.headP1{
    font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-right:3px;
}
.headP2{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-right:79px
}
.headSpan{
    margin-left:3px;
    transition:0.3s;
}
.headSpan:hover{
    color:#01813F
}
/* main */
main{
    align-items:center;
    width:444px;
    margin:auto;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
}
/*block, top */
.mainBlock{
    top:22px;
    position:absolute;
    width:18px;
    height:18px;
    background:#3CB878;
}
.mainSpace{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px 60px 15px;
}
.mainPlashka{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #434343;
}
.mainPashka{
    font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #3CB878;
}
/* buttons */
.mainButton1{
    display:flex;
    background: #305DB8;
    border: none;
    align-items:center;
    padding:14px 0px;
    border-radius: 5px;
    width:160px;
    height:46px;
}
.mainButton1:active{
    background:#022263;
}
.mainF{
    font-size:24px;
    color:#fff;
    margin-left:17px;
    margin-right:12px;
    width:13px;
}
.mainG{
    font-size:19px;
    color:#fff;
    margin-left:12px;
    margin-right:14px;
}
.mainButton2{
    display:flex;
    background: #DF4A32;
    border: none;
    align-items:center;
    border-radius: 5px;
    width:160px;
    height:46px
}
.mainButton2:active{
    background: #AB1F09;
}
.mainRow{
    display:flex;
    flex-direction: row;
    text-align:center;
    margin:0px 60px;
    justify-content: space-between;
}
.mainBorder{
    border-right:1px solid #0A162F;
    height: 28px;
    mix-blend-mode: normal;
    opacity: 0.1;
    height:28px;
}
.mainPhrase1{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-left:18px;
margin-right:22px;
}
.mainPhrase2{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-left:30px;
margin-right: 27px;
}
/* space */
.mainOr{
    font-weight: 400;
font-size: 14px;
line-height: 14px;

color: #848484;

}
.mainOrFlex{
    display:flex;
    flex-direction:row;
    text-align:center;
    align-items: center;
    margin:20px 60px 12px;
}
.mainHr{
    width:152px;
    color:#F2F2F2;
}
/* input */
.mainInput{
    display:flex;
    flex-direction:column;
    width:322px;
    margin:0px 60px;
}
.mainName::placeholder{
    font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #BEBEBE;

}
.mainName{
    padding: 15px 0px 15px 20px;
    margin-bottom:16px;
    transition: 0.3s;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.mainLastName::placeholder{
    font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #BEBEBE;
}
.mainLastName{
    padding: 15px 0px 15px 20px;
    border:none;
    margin-bottom:16px;
    transition: 0.3s;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.mainEmail::placeholder{
    font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #BEBEBE;
}
.mainEmail{
    padding: 15px 0px 15px 20px;
    border:none;
    margin-bottom:16px;
    transition: 0.3s;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.mainPassword::placeholder{
    font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #BEBEBE;
}
.mainPassword{
    padding: 15px 0px 15px 20px;
    border:none;
    margin-bottom:16px;
    transition: 0.3s;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.mainName:focus{
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.mainLastName:focus{
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.mainEmail:focus{
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.mainPassword:focus{
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
/* checkbox */
.mainRowRewerse{
    margin:12px 0px 20px;
    display:flex;
    flex-direction: row;
}
.checkbox{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #434343;
    display:flex;
    flex-direction:row;
}
.checkbox:hover .checkboxSpan{
    text-decoration: underline;
}
/* button3 */
.mainButton3{
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    border-color:rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-bottom:20px;
}
.mainButton3:active{
    background: #01813F;
}
.mainButton3Text{
    font-weight: 400;
font-size: 16px;
line-height: 16px;
align-items: center;
color: #FFFFFF;
text-align: center;
padding-top:14px;
padding-bottom:14px;
}
